<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img src="/assets/images/icon_about.png"/>
    <p>{{ site.description }}</p>
  </div>
  <nav class="sidebar-nav">
    {% assign items = site.sidebar-nav-items %}
    {% for item in items %}
      {% assign target = item['target'] %}
      <a class="sidebar-nav-item{% if page.url == target %} active{% endif %}" href="{{item['target']}}">{{item['value']}}</a>
    {% endfor %}
    <span class="sidebar-nav-item">v{{ site.version}} , {{ site.time | date: "%Y%m%d" }} build</span>
  </nav>
</div>
